@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

.page-container {
  margin-left: 20px;
}

.header-container {
  display: flex;
  width: 60%;
}

.header-el {
  margin-right: 20px;
}

.section-1 {
  display: flex;
  margin-top: 50px;
}

.image-principale {
  text-align: left;
}

.menu-right {
  width: 30%;
  text-align: left;
  margin-left: 50px;
}

.location-1 {
  margin-bottom: 10px;
}

.city {
  color: darkorange;
  font-weight: 500;
}

.france {
  color: grey;
  font-weight: 500;
}

.title {
  font-size: 25px;
  margin-bottom: 5px;
}

.info-2 {
  margin-bottom: 10px;
}

.price {
  font-size: xx-large;
  margin-bottom: 10px;
}

.acquire {
  color: white;
  background-color: black;
  border-radius: 100px;
  text-align: center;
  height: 30px;
  width: 250px;
  line-height: 30px;
  margin-bottom: 15px;
}

.offer {
  color: black;
  background-color: white;
  border-radius: 100px;
  border: 1px solid black;
  text-align: center;
  height: 30px;
  width: 250px;
  line-height: 30px;
  margin-bottom: 10px;
}

.estimated-delivree-fees {
  margin-bottom: 10px;
}

.reserve {
  margin-bottom: 10px;
}

.location {
  display: flex;
}

.grey-area {
  background-color: grey;
  margin-right: 10px;
  width: 110px;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
  border: 3px solid rgb(201, 198, 198);
  margin-bottom: 10px;
}

.delivery-fees {
  margin-bottom: 20px;
}

.info-3 {
  margin-bottom: 5px;
}

.description-title {
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 20px;
}

.description-text {
  font-size: 15px;
  margin-bottom: 10px;
}

.sub-img {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.divider {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

.caracteristiques {
  display: flex;
  text-transform: capitalize;
}

.fields {
  width: 100px;
  text-transform: uppercase;
}

.element-cara {
  margin-bottom: 10px;
}

.slick-slide img {
  margin: auto;
}

.carrousel {
  max-width: 90vw;
  margin-left: 30px;
  display: inline-block;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.right:before {
	left: 0;
	transform: rotate(45deg);
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

.chevron.left:before {
	left: 0.25em;
	transform: rotate(-135deg);
}

.carrousel-container {
  display: flex;
}

